{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
          <div class="explanation">
             <h2>How to interpret your Globus identity data</h2>

             <p><a href="{{returnurl}}">Return to your data.</a></p>

             <p>The <b>{{pagetitle}}</b> application uses an OIDC service called Globus Auth. The
                Globus Auth API offers a standard OIDC interface described in the OIDC section
                of the main {{pagetitle}} page.</p>

             <p>In addition to the standard OIDC interface, Globus provides two other ways for applications 
                that use its Auth API to access information about their users. As with OIDC, the
                application's user must give his/her explicit permission, or consent, for the
                application to access this information.</p>

             <p>The Auth API's <b>get_identities()</b> interface returns much of the same information as the
                OIDC id_token. The "identities:" section, specifically, is mostly the same as the
                id_token. The main difference is when the application explicitly requests the optional
                "identity_providers:" section. This section provides a bit more information about the
                provider of the identity information.</p>

             <p>The Auth API's <b>oauth2_token_introspect()</b> interface is a standard OAuth 2.0 interface.
                It uses the access token for the Auth API that the application receives when the user 
                logs in to find out a bit more about the user and any permissions the user agreed to
                give to the application.  Specifically, the "scope" field shows which specific
                interfaces the user is allowing the application to use on his/her behalf, and the
                "aud" field displays the API the token can be used with: auth.globus.org, the Auth API.
                The "iat" and "exp" fields are in <a href="https://www.epochconverter.com/">Unix time</a>,
                and they note, respectively, when the access token was created for the application's use 
                and when it will expire, or no longer be valid.</p>

             <p><b>{{pagetitle}}</b> also requests identity_set information, so, assuming the user allows
                access when he/she logs in, the response from <b>oauth2_token_introspect()</b> also includes
                the identities_set, but only the "sub" fields are provided. Compare to the OIDC
                <b>oauth2_userinfo()</b> response above, and you'll see the same identities listed.</p>

             <p>Finally, <b>{{pagetitle}}</b> requests session_info information, so the output of 
                <b>oauth2_token_introspect()</b> should include a session_info section that includes
                information about any authentication events (when you authenticated with a specific identity
                provider) that occurred during this Web browser session.  If there are authentications 
                listed, then the key for each authentication is the "sub" value for one of your identities. 
                (You can find it in the identities_set section.) Compare the idp UUID with the 
                identity_provider UUIDs in the <b>oauth2_userinfo()</b> output above to see which identity 
                provider you authenticated with. Convert the auth_time value using the 
                <a href="https://www.epochconverter.com/">Epoch converter</a> to see when you 
                authenticated.</p>

             <p class="note">If there are no authentications listed in the session_info section, you 
                probably had an active authentication from a previous session and were able to login to 
                <b>{{pagetitle}}</b> without re-authenticating. If you logout of <b>{{pagetitle}}</b> and 
                log back in, you'll see a new authentication listed in this section.</p>

             <h2>Changing or correcting your data</h2>

             <p class="data">When you visited <b>{{pagetitle}}</b> just now, your primary identity 
                provider was <b class="data">{{primaryidp}}</b>.</p>

             <p>The data returned by <b>get_identities()</b> and <b>oauth2_token_introspect()</b> mostly 
                comes from your primary identity 
                provider. The application may request a specific primary identity provider, but if 
                it does not, the primary identity provider is set by Globus Auth and it will be different for
                each individual user. To change or correct the data returned by these functions, go to
                your primary identity provider's website and use its user profile feature to make
                changes. The next time you authenticate using that identity provider in a Globus 
                Auth client application, <b>get_identities()</b> and <b>oauth2_token_introspect()</b> will 
                return the updated information.</p>

             <p class="note">XSEDE applications request XSEDE as the primary identity provider. When using
                these applications, the identity_provider returned by <b>get_identities()</b> should always 
                be XSEDE, with the domain "xsede.org", and the <b>get_identities()</b> and 
                <b>oauth2_token_introspect()</b> functions will return information from your XSEDE user 
                profile.  (View your profile in the XSEDE user portal to compare them.)</p>

             <p><a href="{{returnurl}}">Return to your data.</a></p>
          </div>
     </div>
{% endblock %}
