{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
        <div id="navbar">
             <p><a class="active" href="{{ url_for('index') }}">ID Token</a>
                <a class="inactive" href="{{ url_for('userinfo') }}">UserInfo</a>
                <a class="inactive" href="{{ url_for('introspection') }}">Introspection</a>
                <a class="inactive" href="{{ url_for('identities') }}">Identities</a>
                <a class="inactive" href="{{ url_for('sessioninfo') }}">Session</a></p>
        </div>

        <p>Most OpenID Connect apps use the <b>ID Token</b> to identify individuals. 
           When you logged in, {{pagetitle}} received the following ID Token from Globus.  
           Explanations follow the data below. To learn how to correct this data, 
           <a href="{{explanationurl}}">click here</a>.</p>

        <pre>{{id_token}}</pre>

        <p>The data in your Globus ID Token combines standard OpenID Connect (OIDC) claims (e.g., 
           <i>name</i>, <i>email</i>, <i>preferred_username</i>, and <i>sub</i>) with additional claims 
           that may be useful to applications (e.g., <i>last_authentication</i>, <i>identity_provider</i>, 
           and <i>identity_set</i>). The most obvious addition is the list of linked identities, which 
           appears in the <i>identity_set</i> claim. This additional data is ignored by generic OIDC apps.</p>

        <p class="note"><b>Effective ID</b>:<br>
           The claims in the ID Token are filled with data from your <i>effective ID</i>. The effective ID
           is one of your linked identities in Globus, and the selection of the effective ID is specific to
           each app you use. Normally, your primary identity in Globus will be used as the effective ID.  
           However, if an app requires an identity from a specific organization, Globus will use the 
           required identity as the effective ID instead. Either way, Globus remembers which identity it 
           used as the effective ID for each app, and will always use the same effective identity in a 
           given app, even if you use a different linked identity to login when you return or change your 
           primary ID in Globus.</p>  

        <h2>Standard OIDC claims</h2>

        <p>OIDC ID Tokens typically include the individual's name, email address, username, organization,
           and a unique identifier called a <i>subject</i>. This data is reported in the <i>name</i>, <i>email</i>, 
           <i>preferred_username</i>, <i>organization</i>, and <i>sub</i> claims, respectively. The values 
           for the <i>name</i>, <i>email</i>, and <i>organization</i> claims are provided by the individual 
           when he or she registers with the identity provider. If the identity provider doesn't report an 
           organization name, Globus asks you for it the first time you login using that identity provider.</p>

        <p>The <i>preferred_username</i> is contructed by Globus; it is the username reported by the 
           identity provider and the identity provider's primary domain. There is no guarantee that this 
           username won't be changed or won't be reused by a different individual later. (The <i>sub</i> 
           has those guarantees.) Although preferred_username looks like an email address, it may or may 
           not be a valid email address. Apps should use the <i>email</i> field instead.</p>

        <p class="note">Some identity providers&mdash;especially academic institutions and schools&mdash;report
           anonymized usernames to prevent misuse of your username. In the 
           preferred_username field, you might see a random string of numbers and letters 
           instead of your actual username. The same string will be used consistently every time 
           you login.</p>

        <p>The <i>sub</i> is a unique identifier generated by Globus.  Globus will never use the same sub 
           for another individual, and it will keep using the same sub for you even if you change your name, 
           email address, organization, or username. Each of your linked identities has its own unique sub.</p>

        <h2>Additional claims provided by Globus</h2>

        <p>Globus ID Tokens also include an <i>identity_provider</i> and an <i>identity_provider_display_name</i>.
           These tell us the identity provider for your effective ID in this app. (See note above.)</p>

        <p>The <i>last_authentication</i> claim is the most recent time this individual authenticated this 
           identity in Globus. This time is encoded in <a href="https://www.epochconverter.com/">Unix Epoch</a> 
           format. This authentication may have happened in a different application or web browser 
           session.</p>

        <p>Globus ID Tokens also include the individuals' linked identities: identities the individual has
           linked in Globus. This information is provided in the <i>identity_set</i> claim. The value of
           this claim is a list of sets, where each set in the list contains the claims for a specific 
           linked identity. In the identity_set, the <i>preferred_username</i> claim is replaced by 
           <i>username</i>, but the meaning is the same. For each identity, the <i>last_authentication</i> 
           claim is the most recent time this individual authenticated that identity in Globus. This 
           authentication may have happened in a different application or web browser session.</p>

     </div>
{% endblock %}
