{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
        <div class="status">
           <p><b>{{fullname}}, you are logged in.</b></p>
           <p><b>Your local username is:</b> {{username}}</p>
           <p><b>Actions:</b> [ <a href="{{logouturl}}">Logout</a>, 
                                <a href="{{idsurl}}">Manage identities</a>, 
                                <a href="{{consentsurl}}">Manage consents</a> ]</p>
        </div>

        <div class="oidc-data">
           <h2>Your OpenID Connect Data</h2>

           <p>{{authevents}}</p>

           <p>The following data is what OpenID Connect (OIDC) applications see.
              If you are confused or concerned about what you see below, 
              <a href="{{oidcexplanationurl}}">click here</a>.</p>
           <p>OIDC's <b>oauth2_userinfo()</b> call says:</p>
           <ul>
              <li>Your name is "{{oidcname}}".</li>
              <li>Your email address is "{{oidcemail}}".</li>
              <li>Your preferred_username is "{{oidcprefname}}".</li>
              <li>Your effective ID is "{{oidcsub}}".</li>
           </ul>
           <p>Your OIDC <b>id_token</b> looks like this:</p>
           <pre>{{id_token}}</pre>
           <p><b>oauth2_userinfo()</b> with the optional view_identity_set scope returns this:</p>
           <pre>{{oidcinfo}}</pre>
        </div>

        <div class="globus-data">
           <h2>Your Globus Data</h2>

           <p>The following data is available via the Globus Auth API.
              If you are confused or concerned about what you see below, 
              <a href="{{globusexplanationurl}}">click here</a>.</p>
           <p><b>get_identities()</b> returns this:</p>
           <pre>{{globusmyids}}</pre>
           <p><b>oauth2_token_introspect()</b> for your Auth API access token 
              (with optional session_info and identities_set) returns this:</p>
           <pre>{{globusintrores}}</pre>
        </div>
     </div>
{% endblock %}
