{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
          <div class="explanation">
             <h2>Privacy policy</h2>

             <p>{{pagetitle}} does not collect or keep copies of any of your identity data. 
                The web server keeps no record of your use of this application.</p>

             <p>When you login to {{pagetitle}}, neither Globus nor {{pagetitle}} can
                see the information you give your identity provider to login.</p>

             <p><a href="{{returnurl}}">Return to your data.</a></p>
          </div>
     </div>
{% endblock %}
