{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
          <div class="explanation">
             <h2>Privacy policy</h2>

             <p>{{pagetitle}} does not collect or keep copies of any of your identity data. 
                The web server keeps no record of your use of this application.</p>

             <p>All data about you and your use of this application is stored in a "cookie" in 
                your web browser.  The cookie is sent to the server with every page load so the server can generate 
                the interface for you. After each page is generated, the cookie data is discarded
                by the server. The cookie is encrypted and this is the only website that can decrypt it.</p>

             <p>When you login to {{pagetitle}}, neither Globus nor {{pagetitle}} can
                see the information you give your identity provider to login.</p>

             <p><a href="{{returnurl}}">Return to the app.</a></p>
          </div>
     </div>
{% endblock %}
