{% extends "simple.html" %}
{% block content %}
     <div class="content-middle">
        <div id="navbar">
             <p><a class="inactive" href="{{ url_for('index') }}">ID Token</a>
                <a class="active" href="{{ url_for('userinfo') }}">UserInfo</a>
                <a class="inactive" href="{{ url_for('introspection') }}">Introspection</a>
                <a class="inactive" href="{{ url_for('identities') }}">Identities</a>
                <a class="inactive" href="{{ url_for('sessioninfo') }}">Session</a></p>
        </div>

        <p>If an OpenID Connect app loses track of the 
           <a href="{{ url_for('index') }}">ID Token</a> after the login process completes, 
           it can use the <b>UserInfo</b> interface to get information about the 
           authenticated individual.
           The data returned by the UserInfo interface is the same as the ID Token, though
           UserInfo results may include updates that have happened since you logged in.
           Globus's UserInfo interface returns the following information about you.  To 
           learn how to correct this data, <a href="{{explanationurl}}">click here</a>.</p>

           <pre>{{oidcinfo}}</pre>

     </div>
{% endblock %}
